body{
    background:#f3f5fc
    padding-box
}
main{
    position: absolute;
    margin: 2% 2%;
    width: 1200px;
    height: 944px;
    background: #FFFFFF;
    
}
main li{
    margin: 10px 10px;
    vertical-align: top;
    display: inline-block;
    border: 1px solid #000000;
    }
.logo{
    vertical-align: top;
    text-align: center;
    margin-right: 5%;
    border: 1px solid #000000;
}
.conteudo{
    vertical-align: top;
    width:50%;
    height: 80%;
    padding-top: 50px ;
    border: 1px solid #000000;
    border-width: 50% 80%;
}
.cripto{
    align-content: center;
    position: absolute;
    right: 50px;
    text-align:center;
    vertical-align: middle;
    border: 1px solid #000000;
    width: 400px ;
    height: 940px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.artempy{
    padding-top: 300px;
    display: inline-block;
    position:absolute;
    width: 336px;
    height: 304px;
    top: 0;
    bottom: 0;
    margin: auto;
    

}