body{
    display: flex;
    background:#f3f5fc
    
}
.logoalura{
    margin: 50px;
}
.container{
    display: flex;   
    margin: 2% 2%;
    width: 1200px;
    height: 900px;
}
main li{
    margin: 10px 10px;
    
    }
.conteudo{
    position: absolute;
    vertical-align: top;
    box-sizing: border-box;
    padding: 100px 0 0 0px;
    width: 1200px;
    height: 900px;
}
::placeholder{
    color: #0A3871;
}
.text{
    width: 680px;
    height: 48px;
    border-style: none;
    background: transparent;
    font-size: 32px;  
    color: #0A3871; 
    padding-bottom: 300px;
}
button{
    height: 67px;
    width: 352px;
    border-radius: 24px;
    border-color: #0A3871;
    font-size: 16px;
    font-family: "inter"; 
    font-weight: bold;
}
.botoes{
    position: relative;
    display: inline;
}
.criptografar{
    background-color: #0A3871;
    color: #D8DFE8;
}
.descriptografar{
    background-color: #D8DFE8;
    color: #0A3871;
}
.cripto{
    background: #FFFFFF;
    position: absolute;
    right: 50px;
    text-align:center;
    border-radius: 20px;
    width: 400px ;
    height: 900px;
    top: 25px;
    bottom: 0;
}
.artempty{
    position: relative;
    width: 336px;
    height: 304px;
    top: 250px;
    align-items: center;
}
li p{
    font-family: "inter";
    position: relative;
    word-wrap: break-word;
    padding-bottom: 15px;
    width: 400px;
    top:300px;
}
.alert{
    font-size: 32px;
    font-weight: bold;
   
}